html {
    box-sizing: border-box;
}

body {
     background-image: url(../img/bg-fridge.jpg);
    background-size: cover;
}

main{
    display: flex;
    flex-wrap: wrap;
    padding:  5% 10%;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}

.postit {
    width: 25%;
    height:30vh;
    border: 2px solid black;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #444;
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    
}

.violet {
    background-color: violet;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: greenyellow;
}

.postit p {
    display: block;
}

main div:nth-child(1) {
    transform: rotate(5deg);
    
}

main div:nth-child(2) {
    transform: rotate(-7deg);
}

main div:nth-child(3) {
    transform: rotate(3deg);
}

main div:nth-child(4) {
    transform: rotate(-5deg);
}

main div:nth-child(5) {
    transform: rotate(4deg);
}

main div:nth-child(6) {
    transform: rotate(8deg);
}

main div:hover {
    transform: scale(1.2)
}
