/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONT */
.text-big {
  font-family: "Arial, Sans-Serif";
  font-size: 5em;
}

.text-mid {
  font-family: "Arial, Sans-Serif";
  font-size: 3em;
}

.text-big {
  font-family: "Arial, Sans-Serif";
  font-size: 1em;
}

/* SPACING */
/* $display: $block, $inline;
$prop: $padding, $block; */
.padding-block-sm {
  display: block;
  padding: 0.5em;
}

.padding-block-normal {
  display: block;
  padding: 1em;
}

.padding-block-md {
  display: block;
  padding: 1.5em;
}

.padding-block-lg {
  display: block;
  padding: 2em;
}

.padding-block-xl {
  display: block;
  padding: 3em;
}

.padding-block-xxl {
  display: block;
  padding: 5em;
}

.padding-inline-sm {
  display: block;
  padding: 0.5em;
}

.padding-inline-normal {
  display: block;
  padding: 1em;
}

.padding-inline-md {
  display: block;
  padding: 1.5em;
}

.padding-inline-lg {
  display: block;
  padding: 2em;
}

.padding-inline-xl {
  display: block;
  padding: 3em;
}

.padding-inline-xxl {
  display: block;
  padding: 5em;
}

.margin-block-sm {
  display: block;
  padding: 0.5em;
}

.margin-block-normal {
  display: block;
  padding: 1em;
}

.margin-block-md {
  display: block;
  padding: 1.5em;
}

.margin-block-lg {
  display: block;
  padding: 2em;
}

.margin-block-xl {
  display: block;
  padding: 3em;
}

.margin-block-xxl {
  display: block;
  padding: 5em;
}

.margin-block-sm {
  display: block;
  padding: 0.5em;
}

.margin-block-normal {
  display: block;
  padding: 1em;
}

.margin-block-md {
  display: block;
  padding: 1.5em;
}

.margin-block-lg {
  display: block;
  padding: 2em;
}

.margin-block-xl {
  display: block;
  padding: 3em;
}

.margin-block-xxl {
  display: block;
  padding: 5em;
}

/* BOTTONI*/
.btn-primary {
  background-color: #0e6cff;
}

.btn-secondary {
  background-color: #ff8700;
}

.btn-tertiary {
  background-color: #4caf50;
}

/* MIXIN GENERICI */
.line-4 img {
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

.line-4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.showcase-content {
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
  border: 2px solid purple;
  height: 100px;
  width: 100px;
}

.logo {
  color: red;
  animation: 1s ease-in 0.5s 1 normal both logo;
}
@keyframes logo {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */